<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k3itech.irecomm.re.mapper.IrePersonJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.k3itech.irecomm.re.entity.IrePersonJob">
        <id column="ID_NUM" property="idNum" />
        <result column="NAME" property="name" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="TYPE" property="type" />
        <result column="PROFFESSIONAL" property="proffessional" />
        <result column="DIRECTION" property="direction" />
    </resultMap>

</mapper>
