<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k3itech.irecomm.re.mapper.IreTagStructureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.k3itech.irecomm.re.entity.IreTagStructure">
        <id column="ID" property="id" />
        <result column="PARENT_ID" property="parentId" />
        <result column="PARENT_IDS" property="parentIds" />
        <result column="TEXT" property="text" />
        <result column="CODE" property="code" />
        <result column="PARENT_CODE" property="parentCode" />
        <result column="PARENT_CODES" property="parentCodes" />
        <result column="LEAF" property="leaf" />
        <result column="GRADE" property="grade" />
    </resultMap>

</mapper>
