<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k3itech.irecomm.re.mapper.IreUserRecommresultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.k3itech.irecomm.re.entity.IreUserRecommresult">
        <id column="ID_NUM" property="idNum" />
        <result column="KNOWLEDGE" property="knowledge" />
        <result column="ISLIKE" property="islike" />
    </resultMap>

</mapper>
