<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k3itech.irecomm.re.mapper.PersonPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.k3itech.irecomm.re.entity.PersonPost">
        <id column="IDENTITY_NO" property="identityNo" />
        <result column="VDEFL" property="vdefl" />
        <result column="CRT_TIME" property="crtTime" />
    </resultMap>

</mapper>
