<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k3itech.irecomm.recomm.mapper.IUserFollowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.k3itech.irecomm.recomm.entity.IUserFollow">
        <id column="ID_NUM" property="idNum" />
        <result column="USER_NAME" property="userName" />
        <result column="POST" property="post" />
        <result column="USER_JOB" property="userJob" />
        <result column="FOLLOW_MODEL" property="followModel" />
        <result column="FOLLOW_DEVICE" property="followDevice" />
        <result column="FOLLOW_PRO" property="followPro" />
        <result column="SECRET_LEVEL" property="secretLevel" />
    </resultMap>

</mapper>
